.env
printer_data/comms/
printer_data/logs/
*.sock
*.serial
mainsail.cfg
timelapse.cfg
printer_data/config/mainsail.cfg
printer_data/config/timelapse.cfg
*.swp
*.tmp
printer-[0-9]*_[0-9]*.cfg
*.bak
*.bkp
*.csv
*.zip
